[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/mysite10/mysite10/
ExecStart=/home/mysite19/env/bin/bin/gunicorn  --access-logfile - --workers 3 --bind unix:/home/mysite10/mysite10.sock  mysite10.wsgi:application

[Install]
WantedBy=multi-user.target